html, body{ /* Mise en page du contenu et du corps */
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_canvas { /* Mise en page de la carte Google Map */
    height: 100%;
    width: 100%;
}

.panelFind input { /* Mise en page des inputs dans le formulaire Trouver */
	width:150px;
}
.panelFind select { /* Mise en page des selects dans le formulaire Trouver */
	width:150px;
}

.panelPost input { /* Mise en page des inputs dans le formulaire Poster */
	width:130px;
}

.panelPost select { /* Mise en page des inputs dans le formulaire Poster */
	width:130px;
}

.panelFind input[type="submit"] { /* Mise en page du bouton Chercher du formulaire Trouver */
	width: auto;
}

.panelPost input[type="submit"] { /* Mise en page du bouton Publier du formulaire Poster */
	width: auto;
}

.panelPost{ /* Mise en page du bouton Réinitialiser du formulaire Poster */
	width: auto;
}

.panelPost input[type="reset"] { /* Mise en page du bouton Réinitialiser du formulaire Poster */
	width: auto;
}

.panelAccount input[type="submit"] { /* Mise en page du bouton Chercher du formulaire Trouver */
	position: absolute;
	right: 5px;
}

textarea { /* Mise en page de la zone de texte du label Description*/
	width: 100%;
}

.header { /* Mise en page de l'entete */
	height: 200px;
	width: 90%;
	background-image: url("../images/annonce.png");
	background-repeat: repeat-x;
	margin: 0 auto;
	border: 1px solid black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.header > h1 { /* Mise en page de la balise h1 de l'entete */
	position: absolute;
	top: 100px;
	left: 63%;
}

.buttonsHeader { /* Mise en page du Menu actions */
	display: inline-block;
	background-color: white;
	margin-top: 190px;
	margin-left: 30px;
}

.buttonsHeader > div { /* Mise en page des boutons du menu */
	background-color: white;
	display: inline-block;
	background-repeat: no-repeat;
	padding-right: 5px;
}

.buttonsHeader > div:hover {
	font-weight: bold;
}

.buttonsHeader > div > p { /* Mise en page des textes des boutons du menu actions */
	margin-left: 35px;
	margin-top: 5px;
}

.buttonFind { /* Mise en page de l'image du menu Trouver */
	margin-left: 5px;
	background-image: url("../images/24x24/zoom.png");
}

.buttonPost { /* Mise en page de l'image du menu Poster */
	background-image: url("../images/24x24/new_page.png");
}

.buttonAccount { /* Mise en page de l'image du menu Compte */
	background-image: url("../images/24x24/user.png");
}

.buttonAccountConnected { /* Mise en page de l'image du menu Compte */
	background-image: url("../images/24x24/comment.png");
}

.content { /* Mise en page du contenu */
	height: 100%;
	width: 90%;
	margin: 50px auto;
	border: 1px solid black;
}

.buttonSwitch { /* Mise en page du bouton Flip */
	background-image: url("../images/24x24/globe.png");
	background-color: white;
	background-repeat: no-repeat;
	border: 1px solid black;
	display: inline-block;
	position: absolute;
	top: -17px;
	left: 90%;
	height: 30px;
	padding-right : 5px;
}

.buttonSwitch > p { /* Mise en page du texte du bouton Flip */
	margin-left: 35px;
	margin-top: 5px;
}

.buttonSwitch:hover { /* Mise en page du texte du bouton Flip lorsqu'il est survole */
	font-weight: bold;
}

.frontView {
	width: 100%;
	height: 100%;
}

.frontView > table { /* Mise en page des formulaires */
	width: 100%;
	margin : 0px 10px 0px 0px;
	border-collapse: collapse;
}

.frontView > table td { /* Mise en page des cellules */
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	padding-top : 5px;
}

.frontView > table td:last-child{
	border-left: 1px solid black;
	width: 50%;
	text-align: justify;
	padding: 0 5px 0 5px;
}

.frontView > table th:last-child {
	border-left: 1px solid black;
	width: 50%;
	text-align: center;
}

.backView > .buttonSwitch { /* Mise en page de la deuxième image du bouton Flip */
	background-image: url("../images/24x24/full_page.png");
}


div[class^="panel"] { /* Mise en page du cadre  des formulaires */
	width: 350px;
	background-color: white;
	border: 1px solid black;
	visibility: hidden;
	opacity: 0.5;
    position: absolute;
    top: 100px;
    left: 70%;
	right: 7%;
    z-index: 2000;
}

.panelAccount {
	width: 250px !important;
	padding: 5px 5px 5px 5px;
	height : 70px;
}

div[class^="panel"]:hover {
	opacity: 1;
}

#formLanguage {
	position: absolute;
	top: 0;
	left: 0;
}

.query {
	font-weight: bold;
	color: red;
}