html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_canvas {
    height: 100%;
    width: 100%;
}

.panelFind input {
	width:140px;
}
.panelFind select {
	width:140px;
}

.panelPost input {
	width:110px;
}

.panelPost select {
	width:110px;
}

.panelFind input[type="submit"] {
	width: auto;
}

.panelPost input[type="submit"] {
	width: auto;
	margin-left: 120px;
}

.panelPost input[type="reset"] {
	width: auto;
}

textarea {
	width: 100%;
}

.header {
	height: 200px;
	width: 90%;
	background-image: url("../images/annonce.png");
	background-repeat: repeat-x;
	margin: 0 auto;
	border: 1px solid black;
}

.header > h1 {
	position: absolute;
	top: 145px;
	left: 64%;
}

.buttonsHeader {
	display: inline-block;
	background-color: white;
	margin-top: 190px;
	margin-left: 30px;
}

.buttonsHeader > div {
	background-color: white;
	display: inline-block;
	background-repeat: no-repeat;
	padding-right: 5px;
}

.buttonsHeader > div:hover {
	font-weight: bold;
}

.buttonsHeader > div > p {
	margin-left: 35px;
	margin-top: 5px;
}

.buttonFind {
	margin-left: 5px;
	background-image: url("../images/24x24/zoom.png");
}

.buttonPost {
	background-image: url("../images/24x24/new_page.png");
}

.buttonAccount {
	background-image: url("../images/24x24/user.png");
}

.content {
	height: 100%;
	width: 90%;
	background-repeat: repeat-x;
	margin: 50px auto;
	border: 1px solid black;
}

.buttonSwitch {
	background-image: url("../images/24x24/globe.png");
	background-color: white;
	background-repeat: no-repeat;
	border: 1px solid black;
	display: inline-block;
	position: absolute;
	top: -17px;
	left: 90%;
	height: 30px;
	padding-right : 5px;
}

.buttonSwitch > p {
	margin-left: 35px;
	margin-top: 5px;
}

.buttonSwitch:hover {
	font-weight: bold;
}

.frontView > table {
	width: 100%;
	margin : 0px 10px 0px 0px;
	border-collapse: collapse;
}

.frontView > table td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	padding-top : 5px;
}

.frontView > table td:last-child{
	border-left: 1px solid black;
	width: 50%;
	text-align: justify;
	padding: 0 5px 0 5px;
}

.frontView > table th:last-child {
	border-left: 1px solid black;
	width: 50%;
	text-align: center;
}

.backView > .buttonSwitch {
	background-image: url("../images/24x24/full_page.png");
}


div[class^="panel"] {
	background-color: white;
	border: 1px solid black;
	visibility: hidden;
	opacity: 0.5;
    position: absolute;
    top: 100px;
    left: 70%;
	right: 7%;
    z-index: 2000;
}

div[class^="panel"]:hover {
	opacity: 1;
}